<style>
    div
     {
        margin-top: 20px;
        padding: 15px 32px;
        font-weight: bold;
    }
    form {
        width: 700px;
        border: 1px solid black;
    }
    #name {
        width: 400px;
        margin-left: 60px;
    }
    #file {
        margin-left: 50px;
    }
    #email {
        width: 400px;
        margin-left: 30px;
    }
    #message {
        margin-left: 70px;
        height: 100px;
        width: 400px;
    }
    button {
        background-color: #256aff;
        
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
    }

    button:hover {
        background-color: #4CAF50;
        
        color: white;
    }
</style>
<form action="/process-contact" method="post">
<fieldset>
	<legend>Register here</legend>
    <div>
        <label for="">Full Name
            <input name="name"/>
        </label>
    </div>
    <br/>
    <div>
        <label for="">Email Address
            <input name="email" type="email"/>
        </label>
    </div>
    <br>
        <div>
        <label for="">Your Message
            <input name="message" type="message"/>
        </label>
    </div>
    <div>  
    <label for="file">Your CV</label>  
     <input type="file" name="file" id="file" class="inputfile" />   
</div>
    <br>
    <div>
        <button type="submit">Send Application</button>
    </div>
    </fieldset>
</form>